{mode, max}.
{ips,["192.168.101.1","192.168.101.2","192.168.101.7"]}.
{port,55443}.

{data_key, "g2gEZAALY2luY2hlZF9rZXliAABBymgDZAANbmFjbF9lbnZlbG9wZW0AAAAYqDRhsTYGtChEOwnWUM7gC7wre2g+K7OYbQAAADC0N2dkSzYycI0sCJkN3vnwcPLf30jfl4rAJqMZGKUe0IX+oKV5NDlrVdP5lpWGsUdhAQ=="}.
{doc,"{\"foo\":\"bar\",\"bar\":\"baz\"}"}.
{encrypted_doc,"{\"foo\":\"bar\",\"bar\":\"g2gDZAANbmFjbF9lbnZlbG9wZW0AAAAYzwXz5/QWzp2Ofel1RyJBnZb0uJaqUSdlbQAAABkdjD2rDJd8zUZ4DDgCfp1ShrIQstCu6rFF\"}"}.
{field_query,"fields=(bar)"}.
{options,
            [
              {reuseaddr, true},
              {nodelay, true},
              {delay_send, false},
              {is_ssl,true},
              {response_format, binary},
              {ssl_options, [
                             binary,
                             {packet,0},
                             {certfile,"/root/star.control-alt-del.org.crt"},
                             {keyfile,"/root/star.control-alt-del.org.key"},
                             {cacertfile,"/root/cacert.pem"},
                             {versions,['tlsv1.2']},
                             {ciphers,
                              [
                               "ECDHE-ECDSA-AES256-SHA384",
                               "ECDHE-RSA-AES256-SHA384",
                               "ECDH-ECDSA-AES256-SHA384",
                               "ECDH-RSA-AES256-SHA384",
                               "DHE-RSA-AES256-SHA256",
                               "DHE-DSS-AES256-SHA256",
                               "ECDHE-ECDSA-AES128-SHA256",
                               "ECDHE-RSA-AES128-SHA256",
                               "ECDH-ECDSA-AES128-SHA256",
                               "ECDH-RSA-AES128-SHA256",
                               "DHE-RSA-AES128-SHA256",
                               "DHE-DSS-AES128-SHA256"
                              ]}
                            ]
              }
             ]}.

{duration, 1}.
{concurrent, 1}.

{driver, basho_bench_cinched}.
{value_generator_source_size,1024}.
%{operations, [{decrypt_doc,1},{data_key,1},{encrypt_doc,1},{encrypt_blob,1}]}.
{operations, [{encrypt_doc,1}]}.
