{mode, max}.
{ips,["192.168.101.1","192.168.101.2","192.168.101.7"]}.
{port,55443}.
{data_key, "g2gEZAALY2luY2hlZF9rZXliAABByWgDZAANbmFjbF9lbnZlbG9wZW0AAAAYULaUpJ0FFPDjDu+WjfyiWHfHMXZCvoeQbQAAADBYDEJYkhkYaa0FZt0McNwbTjpjxkpt29e1nCfVEFHgTgvKJC22dzrpxI8H2f9jOwZhAQ=="}.
{doc,"{\"glossary\": {\"title\": \"example glossary\",\"GlossDiv\": { \"title\": \"S\", \"GlossList\": { \"GlossEntry\": { \"ID\": \"SGML\", \"SortAs\": \"SGML\", \"GlossTerm\": \"Standard Generalized Markup Language\", \"Acronym\": \"SGML\", \"Abbrev\": \"ISO 8879:1986\", \"GlossDef\": { \"para\": \"A meta-markup language, used to create markup languages such as DocBook.\", \"GlossSeeAlso\": [ \"GML\", \"XML\" ]}, \"GlossSee\": \"markup\"}}}}}"}.
{encrypted_doc,"{\"glossary\":{\"title\":\"example glossary\",\"GlossDiv\":{\"title\":\"S\",\"GlossList\":{\"GlossEntry\":{\"ID\":\"SGML\",\"SortAs\":\"SGML\",\"GlossTerm\":\"Standard Generalized Markup Language\",\"Acronym\":\"SGML\",\"Abbrev\":\"ISO 8879:1986\",\"GlossDef\":{\"para\":\"A meta-markup language, used to create markup languages such as DocBook.\",\"GlossSeeAlso\":[\"GML\",\"g2gDZAANbmFjbF9lbnZlbG9wZW0AAAAY53QxYzyi5bynGLlDqcnWkJZ6h1Q1riqAbQAAABnPPGCbkM/cCBlFH2miLlZp2FOAjkqFngGp\"]},\"GlossSee\":\"markup\"}}}}}"}.
{field_query,"fields=(glossary.GlossDiv.GlossList.GlossEntry.GlossDef.GlossSeeAlso.2)"}.
{options,
            [
              {reuseaddr, true},
              {nodelay, true},
              {delay_send, false},
              {is_ssl,true},
              {response_format, binary},
              {ssl_options, [
                             binary,
                             {packet,0},
                             {certfile,"/root/cinched/fixtures/star.control-alt-del.org.crt"},
                             {keyfile,"/root/cinched/fixtures/star.control-alt-del.org.key"},
                             {cacertfile,"/root/cinched/fixtures/cacert.pem"},
                             {versions,['tlsv1.2']},
                             {ciphers,
                              [
                               "ECDHE-ECDSA-AES256-SHA384",
                               "ECDHE-RSA-AES256-SHA384",
                               "ECDH-ECDSA-AES256-SHA384",
                               "ECDH-RSA-AES256-SHA384",
                               "DHE-RSA-AES256-SHA256",
                               "DHE-DSS-AES256-SHA256",
                               "ECDHE-ECDSA-AES128-SHA256",
                               "ECDHE-RSA-AES128-SHA256",
                               "ECDH-ECDSA-AES128-SHA256",
                               "ECDH-RSA-AES128-SHA256",
                               "DHE-RSA-AES128-SHA256",
                               "DHE-DSS-AES128-SHA256"
                              ]}
                            ]
              }
             ]}.
{duration, 1}.
{concurrent, 1}.

{driver, basho_bench_cinched}.

{operations, [{data_key, 1}]}.
