{mode, max}.
{ips,["167.88.46.68","167.88.46.64","104.233.95.161"]}.
{port,55443}.
{duration, 1}.
{concurrent, 32}.

{data_key, "g2gEZAALY2luY2hlZF9rZXliAABBzGgDZAANbmFjbF9lbnZlbG9wZW0AAAAYSMlzFR8yp4NnYuHSPgkGAtM2y7kjh6zobQAAADD3tMT+OMu93FY4wAaA0hVflG0qeHYKamorj8Oses9byMSmhFciWUzb9Jb/nSeal1lhAQ=="}.
{doc,"{\"foo\":\"bar\",\"bar\":\"baz\"}"}.
{encrypted_doc,"{\"foo\":\"bar\",\"bar\":\"g2gDZAANbmFjbF9lbnZlbG9wZW0AAAAYJj387gbIEbXAw+rg/89IxY3BysQ9toX0bQAAABlJobOr85fTo+hy/URIumYnSLL1smL++qAC\"}"}.
{field_query,"fields=(bar)"}.
{options,
            [
              {reuseaddr, true},
              {nodelay, true},
              {delay_send, false},
              {is_ssl,true},
              {response_format, binary},
              {ssl_options, [
                             binary,
                             {packet,0},
                             {certfile,"/root/star.control-alt-del.org.crt"},
                             {keyfile,"/root/star.control-alt-del.org.key"},
                             {cacertfile,"/root/cacert.pem"},
                             {versions,['tlsv1.2']},
                             {ciphers,
                              [
                               "ECDHE-ECDSA-AES256-SHA384",
                               "ECDHE-RSA-AES256-SHA384",
                               "ECDH-ECDSA-AES256-SHA384",
                               "ECDH-RSA-AES256-SHA384",
                               "DHE-RSA-AES256-SHA256",
                               "DHE-DSS-AES256-SHA256",
                               "ECDHE-ECDSA-AES128-SHA256",
                               "ECDHE-RSA-AES128-SHA256",
                               "ECDH-ECDSA-AES128-SHA256",
                               "ECDH-RSA-AES128-SHA256",
                               "DHE-RSA-AES128-SHA256",
                               "DHE-DSS-AES128-SHA256"
                              ]}
                            ]
              }
             ]}.


{value_generator_source_size,1024}.
{operations, [{decrypt_doc,1},{data_key,1},{encrypt_doc,1},{encrypt_blob,1}]}.
%{operations, [{encrypt_doc,1}]}.
{driver, basho_bench_cinched}.
